.meme {
  position: relative;
  width: 59%;
  margin: auto;
  }

  .btn-generate {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 2em;
    cursor: pointer;
    text-transform: uppercase;
    height: 3em;
    width: 18em;
    opacity: 1;
    background-color: #ebf0f8;
    border: 1px solid rgba(#653a03);
  }

  .btn-generate :hover{
    font-size: 18px;
    border-radius: 29px;
    border-color: #cfbe1f;
  }
  
  .meme > img {
  width: 100%;
  }
  
  .meme > h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000;
  }
  
  .meme > .bottom {
  bottom: 0;
  }
  
  .meme > .top {
  top: 0;
  }
  
  form {
  padding-top: 25px;
  text-align: center;
  }
  