* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(253, 248, 234, 0.966);
}

.title {
    padding: 0px 10px;
}

.title h1 {
    margin: 20px 0px;
    text-align: center;
    font-size: 26px; 
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 20px 0;
    grid-gap: 22px;
    color:rgb(0, 17, 255);
}

.title h1:after,.title h1:before {
    content: "";
    display: block;
    border-bottom: 2px solid rgb(0, 238, 255);
}

