main {
    text-align: center;
}

#search-el {
    text-align: center;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 20px;
    font-size: 1.8vw;
    width: 20vw;
    padding: .3%;
    margin: 10% 0 5% 0;
}

.color-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-box {
    margin: 1px;
}

@media (max-width: 768px) {
    #search-el {
        font-size: 9vw;
        width: 60vw;
    }

    .color-div {
        margin-left: 12%;
    }
}